@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');

/* selects all elements in webpage */
*{
    /* padding is the property and 0 is the value assigned to it */
    /* padding is part of the element and is the spacing inside the border */
    padding: 0; 
    /* margin is outside the border and is the spacing between elements */
    margin: 0;
    /* box-sizing defines the box-model used to calculate widths and heights of elements */
    /* border-box model: specified width and height includes the content, padding, and border */
    box-sizing: border-box;
    /* adding the imported font */
    font-family: Outfit;
}

body{

    /* encompases all background properties like background-color, background-image */
    background: #dadada;
}

/* CSS properties for anchor text */
/* anchor text is the clickable text in a hyperlink */
a{
    /* removes underline from links for all links because a tag is inside body tag*/
    text-decoration: none;

    /* inherit text color from parent element, rather than using the default blue for unvisited link and purple for visited ones */
    color: inherit;
}

nav{
    /* turns nav bar into a flex container allowing its children elements to be flex items */
    /* flex container uses flexbox model that makes alligning easily by providing properties like align-item and justify-content */
    display: flex;

    /* verticaly aligns items */
    align-items: center;

    /* space between the items is maximized, pushing the first item to the start edge of the container and the last item to the end edge, while evenly distributing the remaining space between them */
    justify-content: space-between;
    background: #131921;

    /* First value is for top and bottom. Second Value is for left and right */
    padding: 10px 20px;

    /* text color */
    color: #fff
}

/* nav-country has class attribute so have to use '.' before name */
.nav-country{

    /* flex container vertically aligns item so it is vertically aligning the img and div elements in html file */
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
}

/* h1 is a regular element so no '.' behind it. refers to h1 element inside .nav-country class */
.nav-country h1{
    color: #fff;
    font-size: 14px;
}

.nav-search{

    /* spreads it across all the way horizontaly */
    flex: 1;
    display: flex;
    align-items: center;
    background: white;
    color: gray;
    /* since we are spreading it all the way horizontaly, this is the limit it cannot across */
    max-width: 1400px;

    /* adds the curve on the edges */
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;

    /* space between the two elements inside the class */
    gap: 5px;
    background: #e5e5e5;

    /* adds curve to top left and bottom left so left side only */
    border-radius: 4px 0 0 4px;
}

.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
    border-radius: 0 4px 4px 0;
}

.nav-language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}

.nav-text{
    margin-left: 15px;
}
.nav-text p{
    font-size: 10px;
}
.nav-text h1{
    font-size: 14px;
}
.nav-cart{
    display: flex;
    align-items: end;
    font-size: 15px;

    /* first value is for top and bottom, seccond is for left and right */
    margin: 0px 15px;
}
.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: #fff;
    font-size: 15px;
}

.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.header-slider ul{
    /* aligns all the images horizontaly */
    display: flex;
    /* hides the bottom nav bar form the view and you can only see it when you scroll to bottom of page */
    overflow-y: hidden;
}

.header-img{
    /* sets max width of the image to the browser width */
    max-width: 100%;
    /* adds gradient on images */
    /* black color can be any color, it defines that gradient should start from solid color. 50% means that gradient starts from halfway point of image */
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}
.header-slider a{

    /* means the anchor elements are positioned absolutely to their parent block which is the header-slider block */
    position: absolute;

    /* positions the anchor elements 20% from the top of their containing block */
    top: 20%;

    /* sets the stacking order of the anchor elements. Elements with higher z-index values appear in front of elements with lower values. */
    /* the images dont have a z-index so a z-index of 1 on anchors make them appear above the images */
    z-index: 1;

    /* vh stands for viewport height, and vw stands for viewport width. These units are relative to the size of the viewport. */
    /* using viewport because it is relative where as setting px is absolute. So the controler box will size according to the browser */
    padding: 5vh 1vw;
    background: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.control_next{
    right: 0;
}

.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}
.box-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background: #fff;
    max-width: 24%;
    min-height: 200px;
    z-index: 1;
}
.box-col a{
    font-size: 13px;
    color: #009999;
    font-weight: 500;
}
.header-box{
    margin-top: -20vw;
}

.products-slider{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}
.products-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;

}
.products-slider .products img{
    max-width: 200px;
    max-height: 200px;
}
.products-slider .products::-webkit-scrollbar{
    display: none;
}

.products-slider-with-price{
    background: white;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}
.products-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}
.products-slider-with-price .products::-webkit-scrollbar{
    display: none;
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background: #fbfbfb;
}
.product-card img{
    width: 110px;
    margin: 0 50px;
}
.product-offer p{
    background: #be0b3b;
    color: white;

    /* allows it to behave like an inline element */
    /* it will still flow within the text content rather than taking up the full width of its container like a regular block-level element. */
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 8px 0;
    font-size: 13px;
}
.product-offer span{
    color: #be0b3b;
    font-weight: 500;
    font-size: 12px;
}
.product-price{
    color: grey;
    font-size: 13px;
}

.product-card h4{
    color: #525252;
    font-size: 15px;
    font-weight: 400;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #131921;
    padding: 20px 60px;
}